# Default ignored files
/shelf/
/workspace.xml
.idea/
target/
logs/
metastore_db/
*.key
*.log
*.swp
build/boot/

.bsp
/.bsp/
/spark-warehouse/
/metastore_db/
derby.log
secret.file
*.keytab

.metals
.bloop
project/**/metals.sbt

/build-restarr/
/target-restarr/

/target/
/project/**/target/
/test/macro-annot/target
/test/files/target/
/test/target/
/build-sbt/
local.sbt
jitwatch.out